* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 64px 103.55px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  background: linear-gradient(45deg, #3c2626, #a20000);
}

#navbar div {
    display: flex;
    align-items: center;
}

#navbar div img {
  width: 80px;
}

#navbar h1 {
    background: linear-gradient(45deg, #a0a0a0, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-link li {
    list-style-type: none;
}

.nav-link a {
    background: linear-gradient(45deg, #a0a0a0, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
